body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  max-width: 420px;
  margin: 60px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

input,
select,
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
}

button {
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}
